:root {
    --text-color: #fff;
    --border-color: rgba(255, 255, 255, 0.3);
    --dark-bg: #000;
    --darker-bg: #111;
    --dark-gray: #151515;
    --medium-gray: #1d1d1d;
    --light-gray: #808080;
    --lighter-gray: #A0A0A0;
    --menu-hover-gray: #999;
    --section-padding: 8rem 0;
    --font-primary: 'Inter', sans-serif;
    --font-secondary: 'Poppins', sans-serif;
    --text-sm: 1.4rem;
    --text-md: 1.6rem;
    --text-lg: 2rem;
    --text-lg2:2.4rem;
    --text-xl: 4.8rem;
    --text-xxl: 10rem;
    
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    font-size: 62.5%;
  }
  
  a {
    text-decoration: none;
    color: var(--dark-bg);
  }
  
  body {
    overflow-x: hidden;
    font-family: var(--font-primary);
    font-size: var(--text-sm);
    line-height: 1.5;
    color: var(--text-color);
    cursor: default;
    background-color: var(--dark-gray);
  }
  h3,h2,p,h4{
    cursor: auto;
  }
  .background-wrapper {
    position: relative;
    min-height: 100vh;
    background-size: cover;
    background-image: url('../images/g-back.png');
    background-repeat: no-repeat;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/Grid.png');
    background-repeat: repeat;
    opacity: 0.15;
    pointer-events: none;
    z-index: 0;
  }
  
  .container {
    position: relative;
    z-index: 1;
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 3rem;
  }