@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
  --bg-image: url('../images/g-back.png');
  --text-color: #fff;
  --border-color: rgba(255, 255, 255, 0.3);
  --dark-gradient: linear-gradient(145deg, #222, #111);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  color: var(--text-color);
  cursor: default;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 3rem;
}

header {
  display: flex;
  gap: 3rem;
  align-items: center;
  background-image: var(--bg-image);
}

.logo {
  padding: 7px 15px;
  border: 1px solid var(--border-color);
  border-radius: 30px;
  transition: all 0.3s ease;
  position: relative;
}

.nav-wrapper {
  display: flex;
  justify-content: center;
  padding: 2px 5px;
  border: 1px solid var(--border-color);
  border-radius: 30px;
  margin-left: 15px;
}

nav {
  padding: 0.7rem 1rem;
  display: flex;
  gap: 20px;
  position: relative;
}

.hover-this {
  transition: all 0.3s ease;
  position: relative;
}

.hover-this span {
  display: inline-block;
  font-weight: 500;
  color: var(--text-color);
  font-size: 16px;
  transform: none !important;
  text-transform: capitalize;
  pointer-events: none;
  transition: transform 0.1s linear;
}

.cursor {
  pointer-events: none;
  position: fixed;
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
  mix-blend-mode: difference;
  transition: transform 0.3s ease, background-color 0.3s ease;
  transform: translate(-50%, -50%) scale(1);
  z-index: 1000;
}

.cursor.hover-effect {
  width: 15px;
  height: 15px;
  background-color: rgba(255, 255, 255, 0.089);
  transform: translate(-50%, -50%) scale(4);
}

.hero {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
  text-align: center;
  background-image: var(--bg-image);
}

.hero-content h1 {
  font-size: 48px;
  margin: 0 0 20px;
}

.hero-content p {
  font-size: 20px;
  color: #ccc;
}

@media (max-width: 900px) {
  nav {
    flex-direction: column;
    gap: 30px;
  }

  .hero-content h1 {
    font-size: 32px;
  }

  .hero-content p {
    font-size: 16px;
  }
}